#click-buttom{
   
    background-color: rgb(141, 242, 127);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    width: 100px;
}

.clc{
    width: 130px;
    border-radius: 0.5rem;
    padding: 0.2rem;
    border: solid 1px black;
}